@model AuctionViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title"/>
        </div>

        <div class="form-group">
            <label for="Title">Category</label>
            <select class="form-control" name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
        </div>

        <div class="form-group">
            <label for="ActualPrice">Actual Price</label>
            <input type="number" class="form-control" name="ActualPrice" id="ActualPrice" value="@Model.ActualPrice" />
        </div>

        <div class="form-group">
            <label for="StartingTime">Starting Time</label>
            <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.StartingTime" readonly />
        </div>

        <div class="form-group">
            <label for="EndingTime">Ending Time</label>
            <input type="text" class="form-control" name="EndingTime" id="EndingTime" value="" readonly />
        </div>

        <div class="form-group">
            <label for="selectPictures">Select Pictures</label>
            <input type="file" class="form-control" name="AuctionPictures" id="selectPictures" multiple/>
            <input type="hidden" id="pictureIds" name="AuctionPictures" />
            <div id="picsArea"></div>
        </div>

        <div id="divError" class="form-group alert alert-danger" style="display:none;">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveBtn">Save</button>
    </div>
</form>


<script>
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();

    var currentDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

    $('input[name="StartingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $('input[name="EndingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    @* validate form *@
    $("#createForm").validate({
        rules: {
            Title: {
                required: true,
                minlength: 15,
                maxlength: 150
            },
            ActualPrice: {
                required: true,
                range: [1, 1000000]
            }
        },
        messages: {
            Title: {
                required: "Title is rquired.",
                minlength: "Minmum length is 15",
                maxlength: "Maximum length is 150"
            },
            ActualPrice: {
                required: "Actual price is required.",
                range: "Invalid price."
            }
        },
        errorClass: "text-danger"
    })


    $("#saveBtn").click(function () {
       if ($("#createForm").valid()) {
            var picIds = [];

            $("#picsArea .image").each(function () {
                var picId = $(this).attr("data-id");

                picIds.push(picId);
            })

            $("#pictureIds").val(picIds);

            $.ajax({
                url: '@Url.Action("Create","Auctions")',
                type: 'Post',
                data: $("#createForm").serialize(),
            }).done(function (response) {
                if (response.success) {
                    ReloadListing() //read the list of auctions after action on (create)
                    $("#formModal").modal("toggle"); //to dismiss modal after finish
                } else {
                    $("#divError").html(response.message);
                    $("#divError").show();
                }
            }).fail(function () {
                alert("Fail");
            });
        }
    })

    $("#selectPictures").change(function () {
        debugger;
        var pictures = this.files;
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: '@Url.Action("UploadPictures", "Shared")',
            type: 'Post',
            data: picsData,
            processData: false,
            contentType: false
        }).done(function (responses) {
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];

                AttachNewImage(picResponse.id, picResponse.url);
            }
        }).fail(function () {
            alert("Fail");
        });
    })

 
</script>