@model AuctionViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title"/>
        </div>

        <div class="form-group">
            <label for="Title">Category</label>
            <select class="form-control" name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
        </div>

        <div class="form-group">
            <label for="ActualPrice">Actual Price</label>
            <input type="number" class="form-control" name="ActualPrice" id="ActualPrice" value="@Model.ActualPrice" />
        </div>

        <div class="form-group">
            <label for="StartingTime">Starting Time</label>
            <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.StartingTime" />
        </div>

        <div class="form-group">
            <label for="EndingTime">Ending Time</label>
            <input type="text" class="form-control" name="EndingTime" id="EndingTime" value="@Model.EndingTime" />
        </div>

        <div class="form-group">
            <label for="selectPictures">Select Pictures</label>
            <input type="file" class="form-control" name="AuctionPictures" id="selectPictures" multiple/>
            <input type="hidden" id="pictureIds" name="AuctionPictures" />
            <div id="picsArea"></div>
        </div>

        <div id="divError" class="form-group alert alert-danger" style="display:none;">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveBtn">Save</button>
    </div>
</form>


<script>
    $("#saveBtn").click(function () {
        var picIds = [];

        $("#picsArea .image").each(function () {
            var picId = $(this).attr("data-id");

            picIds.push(picId);
        })

        $("#pictureIds").val(picIds);

        $.ajax({
            url: '@Url.Action("Create","Auctions")',
            type: 'Post',
            data: $("#createForm").serialize(),
        }).done(function (response) {
            debugger;
            if (response.success) {
                ReloadListing()
                $("#formModal").modal("toggle"); //to dismiss modal after finish
            } else {
                $("#divError").html(response.message);
                $("#divError").show();
            }
        }).fail(function () {
            alert("Fail");
        });
    })

    $("#selectPictures").change(function () {
        debugger;
        var pictures = this.files;
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: '@Url.Action("UploadPictures", "Shared")',
            type: 'Post',
            data: picsData,
            processData: false,
            contentType: false
        }).done(function (responses) {
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];

                AttachNewImage(picResponse.id, picResponse.url);
            }
        }).fail(function () {
            alert("Fail");
        });
    })

 
</script>