@model AuctionDetailsViewModel

<div class="row">

    <div class="col-lg-12">

        <div class="card mt-4">

            @if (Model.Auction.AuctionPictures != null && Model.Auction.AuctionPictures.Count() > 0)
            {
                var firstAuctionPicture = Model.Auction.AuctionPictures.First();

                var i = 0;
                <div id="carouselIndicators" class="carousel slide " data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var picture in Model.Auction.AuctionPictures)
                        {
                            var active = picture == firstAuctionPicture ? "active" : string.Empty;

                            <li class="@active" data-target="#carouselIndicators" data-slide-to="@i"></li>
                            i++;
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @foreach (var auctionPicture in Model.Auction.AuctionPictures)
                        {
                            var active = auctionPicture == firstAuctionPicture ? "active" : string.Empty;

                            <div class="carousel-item @active">
                                <img class="d-block img-thumbnail img-fluid" src="@auctionPicture.Picture.Url" style="width:1108px;height:500px;">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }

            <div class="card-body">
                <span class="text-warning float-right">
                    @{ int? defaultStars = 5 - Model.AverageRate; }
                    @for (int i = 0; i < Model.AverageRate; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                    @for (int i = 0; i < defaultStars; i++)
                    {
                        <i class="far fa-star"></i>
                    }
                </span>
                <h3 class="card-title">@Model.Auction.Title</h3>
                <h4>
                    $@Model.BidsAmount
                    @if (Model.LatestBidder != null)
                    {
                        <span class="badge badge-pill p-1">[ @Model.LatestBidder.Email ]</span>
                    }
                </h4>
                <p class="card-text">@Model.Auction.Description</p>
            </div>

            <div class="card-footer text-muted">
                <button id="bidBtn" type="button" class="btn btn-primary">Bid now</button>
            </div>
        </div>

        <!-- /.card -->
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                @if (Model.Comments != null && Model.Comments.Count() > 0)
                {
                   <text> @Model.Comments.Count() </text>
                }
                Comments
            </div>
            <div class="card-body">

                <div id="commentsArea">
                    @if (Model.Comments != null && Model.Comments.Count() > 0)
                    {
                        { Html.RenderAction("EntityComments", "Comments", new { entityId = Model.EntityId, recordId = Model.Auction.Id }); }
                    }
                </div>

                <form id="commentForm">
                    <input type="hidden" name="EntityId" value="@Model.EntityId" />
                    <input type="hidden" name="RecordId" value="@Model.Auction.Id" />
                    <div class="form-group">
                        <label for="">Write your comment below.</label>

                        <div class="rate  float-right">
                            <span class="text-warning">
                                <i class="ratingStar far fa-star" rate-value="1"></i>
                                <i class="ratingStar far fa-star" rate-value="2"></i>
                                <i class="ratingStar far fa-star" rate-value="3"></i>
                                <i class="ratingStar far fa-star" rate-value="4"></i>
                                <i class="ratingStar far fa-star" rate-value="5"></i>
                            </span>
                            <br />
                            <input type="hidden" id="ratingValue" name="Rating" value="" />
                        </div>

                        <input class="form-control" id="Body" name="Body" placeholder="Write your comment..."/>
                    </div>
                    <button id="commentBtn" type="button" class="btn btn-success">Leave a comment</button>
                </form>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

</div>

<script>
    $("#bidBtn").click(function () {
        $.ajax({
            url: "@Url.Action("Bid","Bids")",
            type: 'Post',
            data: {
                auctionId: '@Model.Auction.Id'
            }
        })
        .done(function (response) {
            debugger;
            if (response.success) {
                window.location.reload();
            } else {
                swal("Oops!", response.message, "error");
            }
        })
        .fail(function () {
            swal("Oops!", "Something went wrong, please try again later.", "error");
        })
    })

    //slide rating stars
    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas");
        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });

    $(".ratingStar").click(function () {
        var starValue = $(this).attr("rate-value");

        $("#ratingValue").val(starValue)
    });

    //validation form
    $("#commentForm").validate({
        ignore: [], //for hidden fields.
        rules: {
            Body: {
                required: true,
                maxlength: 400
            },
            Rating: {
                required: true,
                range: [1,5]
            }
        },
        messages: {
            Body: {
                required: "Invalid comment.",
                maxlength: "Maximum length is 400"
            },
            Rating: {
                required: "Invalid rate.",
                range: "Rate must be within 1-5"
            }
        },
        errorClass: "text-danger"
    })

    //leave a comment by press on button.
    $("#commentBtn").click(function () {
        if($("#commentForm").valid()) {
            LeaveComment();
        }
    });

    //leave a comment by press enter key.
    $("#commentForm").keypress(function (event) {
        if(event.keyCode == 13) //13 is the keyCode for enter button
        {
            if($("#commentForm").valid()) {
                LeaveComment();
                return false;
            }
        }
    });

    //leave a comment function.
    function LeaveComment() {
        $.ajax({
            url: "@Url.Action("LeaveComment","Comments")",
            type: 'Post',
            data: $("#commentForm").serialize()
        })
        .done(function (response) {
            if (response.success) {
                GetComments(@Model.EntityId, @Model.Auction.Id);
                $("#Body").val('');
                $("#ratingValue").val('');
                $(".ratingStar").removeClass("fas").addClass("far");
            } else {
                swal("Oops!", response.message, "warning")
                .then(function () {
                    if(response.isSwitchUrl) {
                        window.location = "@Url.Action("Login", "Account", new { returnUrl = "~/auction-details/" + Model.Auction.Id })";
                    }
                })
            }
        })
        .fail(function () {
            swal("Oops!", "Something went wrong, please try again later.", "error");
        })
    }

    function GetComments(entityId, recordId) {
        $.ajax({
            url: '@Url.Action("EntityComments","Comments")',
            data: {
                entityId: entityId,
                recordId: recordId,
            },
        })
        .done(function (response) {
            $("#commentsArea").html(response);
        })
    }
</script>