@model DealDouble.Entities.Auction

<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="editForm">
    <div class="modal-body">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
        </div>

        <div class="form-group">
            <label for="ActualPrice">Actual Price</label>
            <input type="number" class="form-control" name="ActualPrice" id="ActualPrice" value="@Model.ActualPrice" />
        </div>

        <div class="form-group">
            <label for="StartingTime">Starting Time</label>
            <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.StartingTime" />
        </div>

        <div class="form-group">
            <label for="EndingTime">Ending Time</label>
            <input type="text" class="form-control" name="EndingTime" id="EndingTime" value="@Model.EndingTime" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="updateBtn">Update</button>
    </div>

</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            url: '/Auctions/Edit',
            method: 'Post',
            data: $("#editForm").serialize(),
        }).done(function (response) {
            $("#listingArea").html(response);
            $("#formModal").modal("toggle"); //to dismiss modal after finish
        }).fail(function () {
            alert("Fail");
        });
    })
</script>