@model DealDouble.Entities.Auction

<h2>Edit Auction</h2>

<form id="editForm">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Title</label>
    <input name="Title" value="@Model.Title" />

    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />

    <br />
    <label>Actual Price</label>
    <input name="ActualPrice" value="@Model.ActualPrice"/>

    <br />
    <label>Starting Time</label>
    <input name="StartingTime" value="@Model.StartingTime" />

    <br />
    <label>Ending Time</label>
    <input name="EndingTime" value="@Model.EndingTime"/>

    <br />
    <button type="button" id="updateBtn">Update</button>
</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            url: '/Auctions/Edit',
            method: 'Post',
            data: $("#editForm").serialize(),
        }).done(function (response) {
            debugger;
            $("#listingArea").html(response);
        }).fail(function () {
            alert("Fail");
        });
    })
</script>