@model IEnumerable<DealDouble.Entities.Auction>

<div id="listingArea">

    <div>
        <button id="createBtn">Create new auction</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actual Price</th>
                <th>Starting Time</th>
                <th>Ending Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td>@auction.Title</td>
                    <td>@auction.Description</td>
                    <td>@auction.ActualPrice</td>
                    <td>@auction.StartingTime</td>
                    <td>@auction.EndingTime</td>
                    <td>
                        <a href="@Url.Action("Edit", "Auctions", new { id = auction.Id})" class="btn btn-info">Edit</a>
                        <a href="@Url.Action("Delete", "Auctions", new { id = auction.Id})" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="actionArea">

    </div>

    <script>
        $("#createBtn").click(function () {
            $.ajax({
                url: '/Auctions/Create',
                method: 'Get',

            })
            .done(function (response) {
                $("#actionArea").html(response);
            })
        });
    </script>
</div>
