@model AuctionsListingViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Actual Price</th>
            <th>Bids</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllAuctions != null && Model.AllAuctions.Count() > 0)
        {
            foreach (var auction in Model.AllAuctions)
            {
                <tr>
                    <td>@auction.Title</td>
                    <td>@auction.Category.Name</td>
                    <td>$@auction.ActualPrice</td>
                    @if (auction.Bids != null && auction.Bids.Count() > 0)
                    {
                        <td>@auction.Bids.Count</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td>
                        <button data-id="@auction.Id" class="editBtn btn btn-info">Edit</button>
                        <button data-id="@auction.Id" class="deleteBtn btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center alert alert-danger">No auctions found.</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Pager != null && Model.Pager.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.Pager.CurrentPage == 1)
            {
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary" data-href="@Url.Action("Listing", "Auctions", new { pageNo = Model.Pager.CurrentPage - 1, categoryId = Model.CategoryId, search = Model.SearchTerm })" style="cursor:pointer">Previous</a>
                </li>
            }
            @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
            {
                var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="pageDataLink page-link" data-href="@Url.Action("Listing", "Auctions", new { pageNo = page, categoryId = Model.CategoryId, search = Model.SearchTerm })" style="cursor:pointer">@page</a>
                </li>
            }
            @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
            {
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary" data-href="@Url.Action("Listing", "Auctions", new { pageNo = Model.Pager.CurrentPage + 1, categoryId = Model.CategoryId, search = Model.SearchTerm })" style="cursor:pointer">Next</a>
                </li>
            }
        </ul>
    </nav>
}
<input type="hidden" id="searchTerm" value="@Model.SearchTerm" />
<input type="hidden" id="categoryId" value="@Model.CategoryId" />

<script>
    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Auctions")',
            method: 'Get',
            data: {
                id: id,
            }
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });

    $(".deleteBtn").click(function () {
        $("#deleteModal").modal("toggle");
        $("#modalDeleteBtn").attr("data-id", $(this).attr("data-id"));
    });

    //pagination
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        $.ajax({
            url: url
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
        .fail(function () {
            alert("Fail");
        })
    });
</script>
