@model AuctionsListingViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actual Price</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auction in Model.AllAuctions)
        {
            <tr>
                <td>@auction.Title</td>
                <td>@auction.Category.Name</td>
                <td>@auction.Description</td>
                <td>@auction.ActualPrice</td>
                <td>@auction.StartingTime.ToShortDateString()</td>
                <td>@auction.EndingTime.ToShortDateString()</td>
                <td>
                    <button data-id="@auction.Id" class="editBtn btn btn-info">Edit</button>
                    <button data-id="@auction.Id" class="deleteBtn btn btn-danger" >Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Auctions")',
            method: 'Get',
            data: {
                id: id,
            }
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });

    $(".deleteBtn").click(function () {
        $("#deleteModal").modal("toggle");
        $("#modalDeleteBtn").attr("data-id", $(this).attr("data-id"));
    });

</script>

