@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/Dashboard.css" rel="stylesheet">

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/9b5a3d79d0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><a href="@Url.Action("Index","Home")" class="navbar-brand"> DealDone</a> </div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index","Dashboard")" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="@Url.Action("Index","Categories")" class="list-group-item list-group-item-action bg-light">Categories</a>
                <a href="@Url.Action("Index","Auctions")" class="list-group-item list-group-item-action bg-light">Auctions</a>
                <a href="@Url.Action("Index","Bids")" class="list-group-item list-group-item-action bg-light">Bids</a>
                <a href="@Url.Action("Index","Users")" class="list-group-item list-group-item-action bg-light">Users</a>
                <a href="@Url.Action("Index","Roles")" class="list-group-item list-group-item-action bg-light">Roles</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary mr-2" id="menu-toggle">-</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <input class="form-control form-control-dark w-100" value="Hi, @User.Identity.Name" disabled>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="cursor:pointer" id="logoutBtn">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>

            <div class="container-fluid p-3">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

        <form id="logoutForm" method="post" action="@Url.Action("LogOff","Account")">
            @Html.AntiForgeryToken()
        </form>

        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#logoutBtn").click(function () {
                $("#logoutForm").submit();
            })
        </script>
</body>
</html>

