@model CommentsViewModel

<style>
    div.vertical-line {
        width: 0px; /* Use only border style */
        height: 100%;
        border-right: 2px inset; /* This is default border style for <hr> tag */
    }
</style>

<div class="card-body">

    @foreach (var comment in Model.Comments)
    {
        var userPic = comment.User.PicUrl != null ? comment.User.PicUrl : "https://image.ibb.co/jw55Ex/def_face.jpg";
        <span class="deleteBtn float-right text-danger" style="cursor:pointer" data-name="@comment.User.UserName" entity-id="@comment.EntityId" record-id="@comment.RecordId">
            <i class="fas fa-trash"></i>
        </span>
        <div class="row">
            <div class="col-md-2 vertical-line">
                <img src="@userPic" class="img rounded-circle img-rounded img-fluid" />
            </div>
            <div class="col-md-10">
                <p>
                    <a class="float-left" href="#"><strong>@comment.User.UserName</strong></a>
                    <span class="float-right"> @comment.Timestamp.ToString("yyyy MMM,dd hh:MM tt")</span>
                </p>
                <div class="clearfix"></div>
                <p>@comment.Body</p>

                @{  var defaultStars = 5 - comment.Rating; }

                <span class="text-warning float-right">
                    @for (int i = 0; i < comment.Rating; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                    @for (int i = 0; i < defaultStars; i++)
                    {
                        <i class="far fa-star"></i>
                    }
                </span>

            </div>
        </div>
        <hr />
    }
</div>

<script>
    $(".deleteBtn").click(function () {
        var userName = $(this).attr("data-name");
        var entityId = $(this).attr("entity-id");
        var recordId = $(this).attr("record-id");

        swal({
            title: "Are you sure!",
            text: "you want to delete " + userName + "'s comment?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
          .then(function (willDelete) {
              if (willDelete) {
                  $.ajax({
                      url: '@Url.Action("DeleteComment","Comments")',
                      data: {
                          entityId: entityId,
                          recordId: recordId,
                      },
                      type: 'Post',
                  })
                  .done(function (response) {
                      if (response.success) {
                          swal(userName + " deleted successfuly.", {
                              icon: "success",
                          })
                          GetComments(entityId, recordId);
                      } else {
                          swal("Error!", response.message, "error");
                      }
                  })
              }
          });
    });
</script>